<h1>Sign in</h1>

<%= form_with(url: verify_path) do |form| %>
  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email, value: params[:email_hint], required: true, autofocus: true, autocomplete: "email" %>
    <%= form.hidden_field :context, value: "email-verify" %>
  </div>
  <div>
    <%= form.submit "Sign in" %>
  </div>
<% end %>

<br>