<div class="p-4">
    <div class="flex flex-row flex-nowarp justify-between my-4 w-full">
        <div class="flex flex-row items-center">
            <div class="mr-3 flex-1">
                <%= render_input name: "search", id: "search", placeholder: "Search" %>
            </div>
            <div class="mr-3">
                 <%= render_dropdown_menu do %>
                    <%= dropdown_menu_trigger do %>     
                        <%= render_button "Tags", variant: :outline %>
                    <% end %>
                    <%= dropdown_menu_content do %>
                        <%= dropdown_menu_item "Tag1" %>
                        <%= dropdown_menu_item "Tag2" %>
                    <% end %>
                <% end %>   
            </div>
            <div class="mr-3">
                <%= render_dropdown_menu do %>
                    <%= dropdown_menu_trigger do %>    
                        <%= render_button "Status", variant: :outline %>
                    <% end %>
                    <%= dropdown_menu_content do %>
                        <%= dropdown_menu_item "Coming" %>
                        <%= dropdown_menu_item "Ongoing" %>
                        <%= dropdown_menu_item "Pending" %>
                        <%= dropdown_menu_item "Past" %>
                        <%= dropdown_menu_item "Canceled" %>
                    <% end %>
                <% end %>    
            </div>
        </div>
        <div class="flex flex-row items-center">
            <div class="mr-3">
                <%= render_button variant: :outline do %>
                    <i class="uil-download-alt text-lg"></i>
                <% end %>
            </div>
            <%= render_button "Add Event" %>
        </div>
    </div>

    <div class="border border-base rounded-md w-full overflow-auto relative">
        <% @tracks = [
            {title: "Total Eclipse of the Heart Total Eclipse of the Heart Total Eclipse of the Heart Total Eclipse of the Heart Total Eclipse of the Heart", artist: "Bonnie Tyler", field1: "Bonnie Tyler", field2: "Total Eclipse of the Heart", field3: "Bonnie Tyler"},
            {title: "I Will Always Love You", artist: "Whitney Houston", field1: "Bonnie Tyler", field2: "Total Eclipse of the Heart", field3: "Bonnie Tyler"},
            {title: "I Wanna Dance with Somebody", artist: "Whitney Houston", field1: "Bonnie Tyler", field2: "Total Eclipse of the Heart", field3: "Bonnie Tyler"},
            ] %>
        <%= render_table do %>
            <%= table_head do %>
                <%= table_header class: "" do %>
                Title
                <% end %>
                <%= table_header "Artist" %>
                <%= table_header "field1" %>
                <%= table_header "field2" %>
                <%= table_header "field3" %>
                <%= table_header "Actions", class: "sticky right-0 bg-[hsl(var(--background))]" %>
            <% end %>
            <%= table_body do %>
                <% @tracks.each.with_index do |track, i| %>
                    <%= row_event eventid: i do %>
                        <%= table_column do %>
                            <%= render_column_plant_text value: track[:title], field: "title" %>
                        <% end %>
                        <%= table_column do %>
                            <%= render_column_plant_text value: track[:artist], field: "artist" %>
                        <% end %>
                        <%= table_column do %>
                            <%= render_column_plant_text value: track[:field1], field: "field1" %>
                        <% end %>
                        <%= table_column do %>
                            <%= render_column_plant_text value: track[:field2], field: "field2" %>
                        <% end %>
                        <%= table_column do %>
                            <%= render_column_plant_text value: track[:field3], field: "field3" %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    </div>

    <div class="flex items-center flex-row my-4 justify-end">
        <%= render_button  variant: :outline, class: "mr-3 w-[100px]" do %>
          <i class="uil-angle-left text-xl"></i> Previous
        <% end %>
         <%= render_button  variant: :outline, class: "w-[100px]" do %>
            Next <i class="uil-angle-right text-xl"></i>
        <% end %>
    </div>
</div>