 <div data-controller="ui--column-plant-text" 
      data-action="click->ui--column-plant-text#edit"
      data-field="<%= field %>" 
      id="<%= id %>" 
      data-value="<%= value %>"
      data-init-value="<%= value %>" 
      class="<%= options[:class] %>"
      ata-readonly="<%= options[:readonly] %>" 
      data-disabled="<%= options[:disabled] %>"
      data-required="<%= options[:required] %>">
    <%= value %>
  </div>