<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= event.end_time %>
  </p>

  <p>
    <strong>Timezone:</strong>
    <%= event.timezone %>
  </p>

  <p>
    <strong>Meeting url:</strong>
    <%= event.meeting_url %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= event.venue_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= event.owner_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= event.group_id %>
  </p>

  <p>
    <strong>Cover url:</strong>
    <%= event.cover_url %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= event.status %>
  </p>

  <p>
    <strong>Require approval:</strong>
    <%= event.require_approval %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= event.tags %>
  </p>

  <p>
    <strong>Event type:</strong>
    <%= event.event_type %>
  </p>

  <p>
    <strong>Display:</strong>
    <%= event.display %>
  </p>

  <p>
    <strong>Track:</strong>
    <%= event.track_id %>
  </p>

</div>
